<div
	class="chat-messages"
	[class.desktop]="!screenSizeService.isMobile() && !isPrivate"
>
	<div class="chat-messages-show-container" #chatContainer>
		<mat-card
			class="mat-elevation-z"
			[class.sender]="isUserSender(message)"
			*ngFor="let message of messages"
		>
			<div class="msg">
				<mat-card-header>
					<app-avatar
						mat-card-avatar
						[user]="message.user"
						[isCurrentUser]="isUserSender(message)"
					></app-avatar>
					<mat-card-title>{{message.user.name}}</mat-card-title>
				</mat-card-header>
				<mat-card-content class="message-text"
					>{{message.text}}<mat-icon
						*ngIf="whoReadMessage(message).length > 0 && isUserSender(message)"
						class="readByIcon"
						[matTooltip]="'Read by: \n' +  whoReadMessage(message) "
						matTooltipClass="readByTooltip"
						>done</mat-icon
					></mat-card-content
				>
				<mat-card-subtitle class="date"
					>{{message.time | date: 'short'}}</mat-card-subtitle
				>
			</div>
		</mat-card>
	</div>
	<div class="chat-messages-create-container">
		<div class="chat-messages-create-container-inputs-container">
			<textarea
				class="chat-messages-create-input"
				(keyup)="handleKeyUp($event)"
				type="text"
				[(ngModel)]="userInput"
			>
			</textarea>
			<button
				class="send"
				mat-flat-button
				color="primary"
				(click)="sendMessage()"
			>
				Send
			</button>
		</div>
		<div class="is-typing">
			<div *ngIf="isTyping.length > 0">{{ getUserTypingText() }}</div>
		</div>
	</div>
</div>
