.chat-messages-show-container {
   height: 400px;
   display: flex;
   flex-direction: column;
   overflow: auto;
   padding-top: 20px;
}

.chat-messages-show-list {
   list-style-type: none;
   margin: 0;
   padding: 0;
}
.readByIcon{
  float: right;
  font-size: 20px;
}
.date {
  font-size: 10px;
  color: #3699f6;
  font-weight: 600;
  margin-top: -12px !important;
  margin-left: 57px;
}
.chat-messages-create-container {
   background: #f5f5f5;
   border: solid 1px rgba(0,0,0,.12);
   border-left: none;
   border-right: none;
   padding: 10px;
   box-sizing: border-box;
}

.chat-messages-create-container-inputs-container {
  display: flex;
  justify-content: center;
}

.chat-messages-create-input {
   padding: 12px;
   flex: 2;
   height: 15px;
   font-family: Roboto, "Helvetica Neue", sans-serif;
}

button {
   width: 100px;
   margin-left: 10px;
}

.message-text {
  margin-top: -1rem;
  background-color: #3699f6;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  margin-left: 57px;
  font-size: 1rem;
  max-width: 400px;
  word-wrap: break-word;
}

.mat-card {
   margin: 5px 10px;
   background: transparent;

   .mat-card-header .mat-card-title {
      font-size: initial;
   }

   .mat-card-avatar {
      margin-right: 16px;
   }
}

.desktop {
   .chat-messages-create-container,
   .chat-messages-show-container {
      position: absolute;
      bottom: 0;
      width: 70%;
   }

   .chat-messages-show-container {
      background: transparent;
      bottom: 70px;
      height: unset;
      top: 136px;
   }
}
.sender {
  justify-content: flex-end;

  .date {
    position: absolute;
    right: 80px;
    top: 85px;
    z-index: 0;
  }

  .mat-card-avatar {
    position: absolute;
    right: 10px;
  }

  .mat-card-header .mat-card-title{
    position: absolute;
    right: 80px;
  }

  .mat-elevation-z {
    justify-items: flex-end;
  }

  .message-text {
    margin-top: 26px;
    padding-left: 10px;
    float: right;
    min-width: 200px;
    margin-right: 63px;
    z-index: 8;
    position: relative;
  }

}
.mat-elevation-z {
  padding-top: 0;
  padding-bottom: 0 !important;
  display: flex;
}

::ng-deep {
  .readByTooltip{
    white-space: pre-line;
  }
}

.msg {
   min-width: 80%;
}

.send {
  transition: all 0.2s linear 0s;

  &:before {
    content: "\E163";
    font-family: 'Material Icons';
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
    height: 100%;
    width: 30px;
    background-color: rgba(#fff,0.3);
    border-radius: 0 50% 50% 0;
    transform: scale(0,1);
    transform-origin: left center;
    transition: all 0.2s linear 0s;
  }

  &:hover {
    text-indent: 30px;

    &:before {
      transform: scale(1,1);
      text-indent: 0;
    }
  }
}

.is-typing {
  height: 0.6rem;
  width: 100%;
  font-size: 0.6rem;
}

