<h2 mat-dialog-title>Add Course</h2>
<mat-dialog-content>
	<app-find-course
		(courseSelection)="setPossibleActions($event)"
		(searchStringChange)="setPossibleActions($event)"
		[courses]="allCourses"
	></app-find-course>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-stroked-button mat-dialog-close cdkFocusInitial>Cancel</button>
	<div>
		<button
			mat-flat-button
			color="primary"
			[disabled]="!joiningPossible"
			(click)="joinCourse()"
			class="right margin-left"
		>
			Join Course
		</button>
		<button
			mat-flat-button
			color="accent"
			[disabled]="!addingPossible"
			(click)="addCourse()"
		>
			+ Add Course
		</button>
	</div>
</mat-dialog-actions>
