.content-wrapper {
    width: 100%;
    height: 100%;
}

.body {
    margin-bottom: 20px;
    overflow: auto;
    max-height: 400px;
}

.footer {
    width: 100%;
    justify-self: right;
    align-self: center;
    justify-content: space-between;
    display: flex;
}

.container {
    overflow: auto; 
    display: flex;
    margin: 5px;
    margin-bottom: 20px;
    justify-content: space-between;
}

.guru {
    align-items: center; 
    display: flex;
}

.details {
    display: table;
    min-width: 100px;
}

.details-item {
    display: table-row;
    text-align: right;
}

.karma {
    vertical-align: middle;
}

.rate {
    display: inline;
}

.rate-button {
    margin: 10px;
    text-align: center;

    .unrated {
        box-shadow: none;
        background: #e6e5e4;
    }
}

.instructions {
    text-align: center;
}

.mat-dialog-content {
    width: 400px;
}

.mat-dialog-actions {
    justify-content: space-between;
}

.guru-image {
    margin-right: 10px;
}