<h2 mat-dialog-title>Rate Guru Event</h2>
<mat-dialog-content>
	<div *ngIf="guru" class="body">
		<mat-card class="container">
			<span class="guru">
				<span class="guru-image">
					<app-avatar [user]="guru.user"></app-avatar>
				</span>
				<span class="guru-name"> {{ event.guruName }} </span>
			</span>
			<span class="details">
				<span class="details-item"> {{ guru.level }} </span>
				<span class="details-item">
					<span class="karma"> {{ guru.karma }} </span>
					<mat-icon class="karma">favorite</mat-icon>
				</span>
			</span>
		</mat-card>
		<div class="rate">
			<div *ngIf="!rated">
				<div class="instructions">
					Click to add +1 to the Guru's karma.
				</div>
				<div class="rate-button">
					<button mat-fab (click)="addKarma()" class="unrated">
						<mat-icon>thumb_up</mat-icon>
					</button>
				</div>
			</div>
			<div *ngIf="rated">
				<div class="instructions">
					Your rating will add +1 to the Guru's karma.
				</div>
				<div class="rate-button">
					<button mat-fab (click)="pullOffKarma()">
						<mat-icon>thumb_up</mat-icon>
					</button>
				</div>
			</div>
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-stroked-button class="cancel-button" (click)="cancel()">
		Cancel
	</button>
	<button
		mat-flat-button
		color="primary"
		class="action-button"
		(click)="save()"
	>
		{{ getButtonText() }}
	</button>
</mat-dialog-actions>
