
.container {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #f5f5f5;
    border-radius: 0;

    &:last-child {
        border-bottom: 1px solid #f5f5f5;
        margin-bottom: 30px;
    }
}

.title {
    margin: 19px;
    text-align: left;
}

.member {
    align-items: center;
    display: flex;
}

.member-name {
    margin-left: 20px;
}

.chat-icon {
  &:hover{
    color: #3699f6;
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: translateY(-2px);
  }
    box-shadow: none;
}
