<h1 class="title">Members</h1>
<mat-card class="container mat-elevation-z" *ngFor="let member of members">
	<span class="member">
		<app-avatar [user]="member"></app-avatar>
		<span class="member-name"> {{ member.name }} </span>
	</span>
	<button
		*ngIf="member._id !== currentUser?._id"
		mat-icon-button
		[color]="newMsg(member) ? 'accent' : ''"
		class="chat-icon"
		aria-label="Message"
		(click)="writeMessage(member)"
	>
		<mat-icon>chat</mat-icon>
	</button>
</mat-card>
