<div
	*ngIf="!loading && course"
	class="full-height"
	[class.desktop]="!screenSizeService.isMobile()"
>
	<div class="course">
		<div class="head">
			<span class="title">
				<h1>{{course.name}}</h1>
			</span>
			<span class="get-help-area">
				<button mat-flat-button color="accent" (click)="getHelp()">
					Get help from a Guru
				</button>
			</span>
		</div>
		<div class="chat">
			<app-chat
				[courseId]="course._id"
				[groupChatMessages]="messages"
				[isPrivate]="false"
				[member_ids]="member_ids"
			></app-chat>
		</div>
	</div>
	<div class="members">
		<app-member-list
			[courseId]="course._id"
			[members]="members"
		></app-member-list>
		<button
			mat-stroked-button
			class="complete-course-button"
			(click)="completeCourseAction()"
		>
			I completed this course
		</button>
		<button
			mat-stroked-button
			class="complete-course-button"
			(click)="leaveCourse()"
		>
			Leave Course
		</button>
	</div>
</div>
<div *ngIf="loading">
	<mat-spinner></mat-spinner>
</div>
