.title {
    display: inline-block;
    margin: 20px;
}

.get-help-area {
    display: inline-block;
    margin: 20px;
}

.complete-course-area {
    display: inline-block;
    margin: 20px;
    width: 100%;
    justify-content: right;
}

.complete-course-button {
    float: right;
    margin: 10px 30px;
}

.members {
    display: block;
    overflow: auto;
    overflow-x: hidden;
    background: white;
}

.head {
    justify-content: space-between;
    display: flex;
    height: 70px;
    border-bottom: solid 1px rgba(0,0,0,.12);
    background: rgba(255, 255, 255, 0.5);
}

.full-height {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 64px;
    margin-top: -64px;
    background: rgba(255,255,255,0.6);
}

.desktop {
    .course {
        width: 70%; 
        float: left;
    }

    .members {
        border-left: solid 1px rgba(0,0,0,.12);
        height: 100%;
    }

    .full-height {
        max-height: 100vh;
        overflow: hidden;
    }
}