.guru {
    align-items: center; 
    display: flex;
    margin-right: 40px;
    min-width: 200px;
}

.guru-list {
    overflow: auto;
    max-height: 400px;
}

.guru-name {
    margin-left: 20px;
}

.container {
    overflow: auto; 
    display: flex;
    margin: 5px;
    justify-content: space-between;
    border-top: 1px solid #f5f5f5;
}

.details {
    display: table;
    min-width: 100px;
    margin-right: 20px;
    margin-left: 20px;
}

.details-item {
    display: table-row;
    text-align: right;
}

.karma {
    vertical-align: middle;
}