<div class="guru-list">
	<mat-card
		class="container mat-elevation-z"
		*ngFor="let guru of gurus | async"
	>
		<span class="guru">
			<app-avatar [user]="guru.user"></app-avatar>
			<span class="guru-name"> {{ guru.user.name }} </span>
		</span>
		<span class="details">
			<span class="details-item"> {{ guru.level }} </span>
			<span class="details-item">
				<span class="karma"> {{ guru.karma }} </span>
				<mat-icon class="karma">favorite</mat-icon>
			</span>
		</span>
		<button
			mat-stroked-button
			class="request-button"
			(click)="request(guru)"
		>
			Request Event
		</button>
	</mat-card>
</div>
