<mat-form-field class="full-width" appearance="fill">
	<mat-label>Course</mat-label>
	<input
		type="text"
		[(ngModel)]="userInput"
		(ngModelChange)="onInput()"
		placeholder="Search"
		matInput
		[matAutocomplete]="auto"
	/>
	<mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
		<mat-option *ngFor="let course of filteredCourses" [value]="course">
			{{course.name}}
		</mat-option>
	</mat-autocomplete>
</mat-form-field>
