<mat-sidenav-container class="sidenav-container">
	<mat-sidenav
		#drawer
		class="sidenav"
		fixedInViewport
		[attr.role]="isMobile() ? 'dialog' : 'navigation'"
		[mode]="isMobile() ? 'over' : 'side'"
		[opened]="isMobile() === false"
	>
		<mat-toolbar>
			<img src="assets/img/logo.png" alt="Learn Like a Guru" />
			<a routerLink="/dashboard">Learn Like a Guru</a>
		</mat-toolbar>
		<mat-nav-list>
			<a
				*ngFor="let course of courses"
				[routerLink]="['/course', course._id]"
				mat-list-item
				href="#"
				>{{ course.name }}</a
			>
			<a mat-list-item (click)="openDialog()">+ Add Course</a>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<mat-toolbar>
			<button
				type="button"
				aria-label="Toggle sidenav"
				mat-icon-button
				(click)="drawer.toggle()"
				*ngIf="isMobile()"
			>
				<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
			</button>
			<img
				*ngIf="isMobile()"
				src="assets/img/logo.png"
				alt="Learn Like a Guru"
			/>
			<a *ngIf="isMobile()" routerLink="/dashboard">Learn Like a Guru</a>
			<span class="spacer"></span>
			<button
				mat-icon-button
				[color]="requestedEvents.length > 0 ? 'accent' : ''"
				(click)="openNotifications()"
				title="You have {{ requestedEvents.length }} incoming request(s)"
			>
				<mat-icon>notifications_active</mat-icon>
			</button>

			<button
				mat-icon-button
				[color]="requests.length > 0 ? 'accent' : ''"
				(click)="openOutcomingRequests()"
				title="You have {{ requests.length }} outcoming request(s)"
			>
				<mat-icon>contact_mail</mat-icon>
			</button>

			<button
				class="user-menu"
				mat-icon-button
				[matMenuTriggerFor]="menu"
				aria-label="Settings"
			>
				<app-avatar
					[user]="currentUser"
					[isCurrentUser]="true"
				></app-avatar>
			</button>
			<mat-menu #menu="matMenu">
				<button mat-menu-item routerLink="/edit-profile">
					<mat-icon>settings</mat-icon>
					<span>Account Settings</span>
				</button>
				<button mat-menu-item routerLink="/completed-courses">
					<mat-icon>school</mat-icon>
					<span>Completed Courses</span>
				</button>
				<button mat-menu-item (click)="signOut()">
					<mat-icon>input</mat-icon>
					<span>Sign Out</span>
				</button>
			</mat-menu>
		</mat-toolbar>
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
