.sidenav-container {
  height: 100%;
}

.mat-drawer {
  background: rgba(255, 255, 255, 0.8);
}

.mat-drawer-container {
  background-color: unset;
}

.sidenav {
  width: 250px;
}

.sidenav .mat-toolbar {
  background: white;
  border-bottom: 1px solid #f5f5f5;
}

.mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #f5f5f5;
}

.mat-list-base {
  padding-top: 0;
}

.spacer {
  flex: 1 1 auto;
}

img {
  height: 30px;
  margin-right: 10px;
  opacity: 0.83;
}

a {
  text-decoration: none;
  color: #333;
}

.user-menu {
  margin-left: 8px;
}