/* You can add global styles to this file, and also import other style files */

html, body { 
    height: 100%; 
    background-color: #f4f4f4;
    background: linear-gradient(45deg, #fff3c9, #faedff);
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif; 
}

h1 {
    white-space: nowrap;
}

h3 {
    font-weight: 500 !important;
}

.timepicker-overlay {
    z-index: 10000000 !important;
}

.timepicker-backdrop-overlay {
    z-index: 10000000 !important;
}

.mat-card-header-text {
    margin: 0 !important;
}

.mat-progress-spinner {
    margin: 40vh auto;
}

.right {
    float: right;
}

.full-width {
    width: 100%;
}

.mat-card-actions {
    height: 37px;
}