.mat-card {
    min-width: 120px;
    max-width: 550px;
    margin: auto;
}

.mat-card-content {
    max-height: 60vh;
    overflow: scroll;
}

.container {
    padding-top: 100px;
}

.line {
    display: flex;
    justify-content: space-between;

    button {
        margin-left: 7px;
    }
}

.add-new {
    margin-top: 10px;
}

.fix-entry {
    align-items: center;
    border-top: 1px solid #f5f5f5;

    &:last-child {
        border-bottom: 1px solid #f5f5f5;
    }

    .course {
        padding-left: 10px;
    }

    button {
        margin: 5px 0;
    }
}

.mat-form-field {
    width: 200px;
    margin-left: 10px;
}

.course {
    width: 280px;
}

.proficiency {
    width: 200px;
}

::ng-deep .add-course .mat-form-field-flex, .line button {
    height: 51px;
}

.setup-hint {
    margin: 36px 0;
}