<div class="container" *ngIf="!loading">
	<mat-card>
		<mat-card-header>
			<mat-card-title>Completed Courses</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-card class="setup-hint" *ngIf="isRegistrationStep">
				<h3>Ready to be a Guru?</h3>
				<p>
					If you would like to help other users with courses that you
					have already completed, add them here.
				</p>
			</mat-card>
			<div
				class="row"
				*ngFor="let guruship of updatedGuruships; let index = index;"
			>
				<div class="column line fix-entry">
					<div class="course">{{ guruship.course.name }}</div>
					<div class="proficiency">{{ guruship.proficiency }}</div>
					<button mat-button (click)="removeGuruship(index)">
						<mat-icon>remove</mat-icon>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="column line add-new">
					<div class="course">
						<app-find-course
							(courseSelection)="setCourse($event)"
							[initialValue]="course"
							[courses]="courses"
						></app-find-course>
					</div>
					<mat-form-field class="proficiency" appearance="fill">
						<mat-label>Proficiency</mat-label>
						<mat-select [(value)]="proficiency">
							<mat-option
								[value]="level"
								*ngFor="let level of proficiencyLevels"
								>{{ level }}</mat-option
							>
						</mat-select>
					</mat-form-field>
					<button
						mat-button
						(click)="addGuruship()"
						[disabled]="!course || !proficiency"
					>
						<mat-icon>add</mat-icon>
					</button>
				</div>
			</div>
		</mat-card-content>
		<mat-card-actions>
			<button
				*ngIf="isRegistrationStep"
				mat-flat-button
				routerLink="/dashboard"
			>
				Skip for now
			</button>
			<button
				mat-flat-button
				color="primary"
				class="right"
				[disabled]="!gurushipsChanged && !(course && proficiency)"
				(click)="save()"
			>
				Save
			</button>
		</mat-card-actions>
	</mat-card>
</div>
<div *ngIf="loading">
	<mat-spinner></mat-spinner>
</div>
