p:first-of-type {
    margin-top: 5px;
}

.container {
    width: 250px;
    margin: 10px;
    cursor: pointer;
}

.container:hover {
    box-shadow: 0px 1px 6px 0px #c2ace8;

    h3 {
        color: #7f69a7;
    }
}