<mat-card
	class="container mat-elevation-z3"
	[routerLink]="'/course/' + course._id"
>
	<h3>{{ course.name }}</h3>
	<p>
		{{ futureEventsCount ? futureEventsCount : "No" }} upcoming Guru event{{
		futureEventsCount === 1 ? '' : 's'}}
	</p>
	<p>
		{{ pastEventsCount ? pastEventsCount : "No" }} past Guru event{{
		pastEventsCount === 1 ? '' : 's'}} waiting for you to review
	</p>
	<p>
		{{ newGroupMessages.count ? newGroupMessages.count : "No" }} new
		message{{ newGroupMessages.count === 1 ? '' : 's'}} in the group chat
	</p>
	<p>
		{{ newPrivateMessages.count ? newPrivateMessages.count : "No" }} new
		private message{{ newPrivateMessages.count === 1 ? '' : 's'}}
	</p>
</mat-card>
