<h2 mat-dialog-title>Find a Guru</h2>
<mat-dialog-content>
	<section *ngIf="gurus.length > 0" class="body">
		<form class="search-form">
			<mat-form-field class="full-width">
				<mat-label>Type to search</mat-label>
				<input type="text" matInput [formControl]="searchField" />
			</mat-form-field>
		</form>
		<app-guru-list
			[gurus]="filteredGurus"
			(guruRequest)="request($event)"
		></app-guru-list>
	</section>

	<div *ngIf="gurus.length === 0">There is no Guru for this course.</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button
		cdkFocusInitial
		mat-stroked-button
		class="cancel-button"
		(click)="cancel()"
	>
		Cancel
	</button>
</mat-dialog-actions>
