<h2 mat-dialog-title>Congratulations on completing this course!</h2>
<mat-dialog-content>
	<p>Do you want to leave the course and become a Guru now?</p>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-stroked-button mat-dialog-close>No, stay in the course</button>
	<button mat-flat-button color="accent" [mat-dialog-close]="true">
		Yes, become a Guru
	</button>
</mat-dialog-actions>
