<form [formGroup]="userDataForm" novalidate (ngSubmit)="onSubmit()">
	<mat-card class="shipping-card">
		<mat-card-header>
			<mat-card-title
				>{{ isRegistration? "Register" : "Edit Profile"
				}}</mat-card-title
			>
		</mat-card-header>
		<mat-card-content>
			<div class="row" *ngIf="!isRegistration">
				<img
					class="profile-picture"
					[src]="previewImage || getProfilePictureUrl() 
					|| 'assets/img/standardUserImage.png'"
				/>
			</div>
			<div class="row image-buttons">
				<button
					*ngIf="!isRegistration && !previewImage"
					mat-stroked-button
					type="button"
					(change)="upload($event.target)"
					class="upload-button"
				>
					<label class="custom-file-upload">
						<input
							type="file"
							class="file-upload"
							accept="image/png, image/jpeg"
						/>
						Upload
					</label>
				</button>
				<button
					*ngIf="!previewImage && getProfilePictureUrl()"
					mat-stroked-button
					(click)="deleteImage()"
					type="button"
				>
					Delete
				</button>
				<button
					*ngIf="previewImage"
					mat-stroked-button
					(click)="clearImage()"
					type="button"
				>
					Clear
				</button>
			</div>
			<div class="row"></div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input
							[value]="userData?.name"
							matInput
							placeholder="Full name"
							formControlName="name"
						/>
						<mat-error
							*ngIf="userDataForm.controls['name'].hasError('required')"
						>
							Name is <strong>required</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field class="full-width">
						<input
							[value]="userData?.email"
							id="username"
							autocomplete="username"
							matInput
							type="email"
							placeholder="Email"
							formControlName="email"
						/>
						<mat-error
							*ngIf="userDataForm.controls['email'].hasError('required')"
						>
							Email is <strong>required</strong>
						</mat-error>
						<mat-error
							*ngIf="userDataForm.controls['email'].hasError('email')"
						>
							Email is <strong>invalid</strong>
						</mat-error>
					</mat-form-field>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<mat-form-field appearance="fill">
						<mat-label>Password</mat-label>
						<input
							matInput
							[type]="hide ? 'password' : 'text'"
							autocomplete="new-password"
							formControlName="password"
						/>
						<button
							mat-icon-button
							matSuffix
							(click)="hide = !hide"
							[attr.aria-label]="'Hide password'"
							[attr.aria-pressed]="hide"
							type="button"
						>
							<mat-icon
								>{{hide ? 'visibility_off' :
								'visibility'}}</mat-icon
							>
						</button>
						<mat-error
							*ngIf="userDataForm.controls['password'].hasError('minlength')"
						>
							password too short
						</mat-error>
					</mat-form-field>
				</div>
				<div class="col">
					<mat-form-field appearance="fill">
						<mat-label>Confirm password</mat-label>
						<input
							matInput
							[type]="hide ? 'password' : 'text'"
							formControlName="confirmPassword"
							[errorStateMatcher]="matcher"
							autocomplete="new-password"
						/>
						<button
							mat-icon-button
							matSuffix
							(click)="hide = !hide"
							[attr.aria-label]="'Hide password'"
							[attr.aria-pressed]="hide"
							type="button"
						>
							<mat-icon
								>{{hide ? 'visibility_off' :
								'visibility'}}</mat-icon
							>
						</button>
						<mat-error *ngIf="userDataForm.hasError('notSame')">
							Passwords do not match
						</mat-error>
					</mat-form-field>
				</div>
			</div>
		</mat-card-content>
		<mat-card-actions>
			<button
				mat-flat-button
				class="right"
				color="primary"
				type="submit"
				[disabled]="(!userDataForm.dirty && !pictureUpload) || userDataForm.invalid"
			>
				Submit
			</button>
			<button
				*ngIf="isRegistration"
				mat-flat-button
				[routerLink]="['/login']"
			>
				Already have an account?
			</button>
		</mat-card-actions>
	</mat-card>
</form>
