form {
  max-width: 550px;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.profile-picture {
  object-fit: cover;
  height: 250px;
  width: 250px;
  margin: 15px 0;
}

input[type="file"] {
  display: none;
}

.image-buttons {
  margin-bottom: 15px;

  button {
    margin-right: 8px;
  }

  .upload-button {
    padding: 0;
  }
  
  .custom-file-upload {
    padding: 10px;
    cursor: pointer;
  }
}