.grid-container {
  margin: 20px;
}

.dashboard-card {
  margin-bottom: 20px;
  background: rgba(255, 255, 255, 0.7);
}

.dashboard-card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}