<div class="grid-container" *ngIf="!loading">
	<h1 class="mat-h1">Dashboard</h1>
	<mat-card class="dashboard-card">
		<mat-card-header>
			<mat-card-title>My Courses</mat-card-title>
		</mat-card-header>
		<mat-card-content class="dashboard-card-content">
			<app-course-tile
				*ngFor="let course of coursesList"
				[course]="course"
			></app-course-tile>
			<p class="empty" *ngIf="!coursesList.length">
				You have not joined any courses yet.
			</p>
		</mat-card-content>
	</mat-card>
	<mat-card class="dashboard-card">
		<mat-card-header>
			<mat-card-title>Upcoming Guru Events</mat-card-title>
		</mat-card-header>
		<mat-card-content class="dashboard-card-content">
			<ng-container *ngFor="let event of upcomingEvents">
				<app-guru-events [event]="event"></app-guru-events>
			</ng-container>
			<p *ngIf="!upcomingEvents?.length">
				You have no upcoming events right now.
			</p>
		</mat-card-content>
	</mat-card>
	<mat-card class="dashboard-card" *ngIf="pastEvents?.length">
		<mat-card-header>
			<mat-card-title>Past Guru Events</mat-card-title>
		</mat-card-header>
		<mat-card-content class="dashboard-card-content">
			<ng-container *ngFor="let event of pastEvents">
				<app-guru-events [event]="event"></app-guru-events>
			</ng-container>
		</mat-card-content>
	</mat-card>
</div>
<div *ngIf="loading">
	<mat-spinner></mat-spinner>
</div>
