<h2 mat-dialog-title>Request Event</h2>
<mat-dialog-content>
	<div class="guru-list">
		<mat-card class="container">
			<span class="guru">
				<app-avatar [user]="guru.user"></app-avatar>
				<span class="guru-name"> {{ guru.user.name }} </span>
			</span>
			<span class="details">
				<span class="details-item"> {{ guru.level }} </span>
				<span class="details-item">
					<span class="karma"> {{ guru.karma }} </span>
					<mat-icon class="karma">favorite</mat-icon>
				</span>
			</span>
		</mat-card>
	</div>

	<p class="simple-text">Your question to the Guru</p>

	<form class="request-form">
		<mat-form-field class="request-message">
			<textarea
				matInput
				[required]="true"
				[(ngModel)]="userInput"
				name="first"
				placeholder=""
				maxlength="80"
				#message
			>
			</textarea>
			<mat-hint align="end">{{message.value.length}} / 80</mat-hint>
		</mat-form-field>
	</form>

	<p class="simple-text">Provide a link to the meeting room</p>

	<form class="request-form">
		<mat-form-field class="link">
			<textarea
				matInput
				[required]="true"
				[(ngModel)]="link"
				name="first"
				placeholder=""
			>
			</textarea>
		</mat-form-field>
	</form>

	<p class="simple-text">Suggest timeslots</p>
	<div class="timeslots">
		<div *ngFor="let slot of suggestedSlots">
			<div class="data-time-entry">
				<mat-form-field class="date" appearance="fill">
					<mat-label>Date</mat-label>
					<input
						matInput
						[min]="tomorrow"
						[matDatepicker]="datepicker"
						[(ngModel)]="slot.date"
						readonly
					/>
					<mat-datepicker-toggle
						matSuffix
						[for]="datepicker"
					></mat-datepicker-toggle>
					<mat-datepicker #datepicker></mat-datepicker>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Time</mat-label>
					<input
						matInput
						placeholder="Time"
						[ngxTimepicker]="timepicker"
						[(ngModel)]="slot.time"
						readonly
					/>
					<ngx-material-timepicker
						#timepicker
					></ngx-material-timepicker>
				</mat-form-field>
				<ng-container
					class="add-button"
					*ngIf="slot.index !== 0;else add"
				>
					<button
						mat-button
						(click)="minusSlot(slot.index)"
						class="add-button"
					>
						<mat-icon>remove</mat-icon>
					</button>
				</ng-container>
			</div>
		</div>
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-stroked-button class="cancel-button" (click)="cancel()">
		Cancel
	</button>
	<button
		[disabled]="!isInputValid()"
		mat-flat-button
		color="primary"
		class="action-button"
		(click)="request()"
	>
		Request
	</button>
</mat-dialog-actions>

<ng-template #add>
	<button mat-button (click)="plusSlot()" class="add-button">
		<mat-icon>add</mat-icon>
	</button>
</ng-template>
