.guru {
    align-items: center; 
    display: flex;
    margin-right: 40px;
}

.guru-list {
    max-height: 400px;
    margin-bottom: 35px;
}

.guru-name {
    margin-left: 10px;
}

.container {
    overflow: auto; 
    display: flex;
    justify-content: space-between;
}

.details {
    display: table;
    min-width: 100px;
}

.details-item {
    display: table-row;
    text-align: right;
}

.karma {
    vertical-align: middle;
}

.simple-text {
    margin-top: 5px;
}

.request-message {
    width: 100%;
}

.link {
    width: 100%;
}

.date {
    margin-right: 10px;
}

.time {
    margin-left: 10px;
}

.data-time {
    display: flex;
    justify-content: space-between;
}

.timeslots {
    justify-content: space-between;
}

.add-button {
    height: 50px;
    width: 50px;
    margin-left: 5px;
}

.data-time-entry {
    display: flex;
}

::ng-deep ngx-material-timepicker-content{
    --body-background-color: #fff;
    --primary-font-family: 'Roboto',sans-serif;
    --button-color: #787975 !important;
    --dial-active-color: #fff;
    --dial-inactive-color: rgba(255, 255, 255, .5);
    --dial-background-color: #787975 !important;
    --dial-editable-active-color: #787975 !important;
    --dial-editable-background-color: #fff;
    --clock-face-time-active-color: #fff;
    --clock-face-time-inactive-color: #6c6c6c;
    --clock-face-inner-time-inactive-color: #929292;
    --clock-face-time-disabled-color: #c5c5c5;
    --clock-face-background-color: #f0f0f0;
    --clock-hand-color: #787975 !important;
}

::ng-deep .mat-calendar-body-selected {
    background-color: gray;
}

.mat-dialog-actions {
    justify-content: space-between;
}
