<div class="landing-page">
	<div id="container">
		<div class="first-word">Learn like a Guru Makes</div>
		<div id="flip">
			<div *ngFor="let name of courseNames">
				<div>{{ name }}</div>
			</div>
			<div><div>Every course</div></div>
		</div>
		<div class="last-word">Awesome</div>
		<div>
			<a
				class="button"
				routerLink="/login"
				mat-raised-button
				color="primary"
			>
				Sign in</a
			><a
				class="button"
				routerLink="/register"
				mat-raised-button
				color="primary"
			>
				register
			</a>
			<a
				class="button"
				href="https://www.youtube.com/watch?v=6bU1HOpqIoo"
				mat-raised-button
				color="primary"
			>
				Video
			</a>
		</div>
	</div>

	<p>Learn like a Guru made by NOMA group</p>
</div>
