.mat-dialog-actions {
    justify-content: space-between;
}

.request {
    margin-bottom: 15px;

    &:first-of-type {
        margin-top: 7px;
    }
}

.mat-card-header .mat-card-title {
    font-size: 16px;
}

.mat-dialog-content {
    max-width: 450px;
}

.request-message {
    padding: 16px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: solid #e4e4e4 1px;
}

.timeslots {
    display: flex;
    flex-wrap: wrap;
}

.data-time-entry {
    margin-right: 5px;
    margin-top: 5px;
}

.choose {
    letter-spacing: 0.5px;
    font-size: 14px;
    margin-bottom: 0;
}