<h2 mat-dialog-title>Incoming Requests</h2>
<mat-dialog-content>
	<div *ngIf="events.length > 0" class="content">
		<mat-card class="request mat-elevation-z3" *ngFor="let event of events">
			<mat-card-header>
				<mat-card-title>{{ event.course.name }}</mat-card-title>
			</mat-card-header>
			<div class="request-message"><q>{{ event.message }}</q></div>
			<p class="choose">Choose one</p>
			<div class="timeslots">
				<div
					class="data-time-entry"
					*ngFor="let slot of event.suggestedTimes"
				>
					<div class="accept-button">
						<button
							mat-button
							(click)="selectSlot(slot, event._id)"
							[color]="isSlotSelected(slot, event._id) ? 'accent' : ''"
						>
							{{ slot | date: 'short' }}
							<mat-icon>check</mat-icon>
						</button>
					</div>
				</div>
			</div>
		</mat-card>
	</div>

	<div *ngIf="events.length === 0" class="content">
		There are no new requests for you.
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-stroked-button class="cancel-button" [mat-dialog-close]>
		{{ events.length === 0 ? "Ok" : "Cancel" }}
	</button>
	<button
		*ngIf="events.length !== 0"
		[disabled]="selectedSlot.size === 0"
		mat-flat-button
		color="primary"
		class="action-button"
		(click)="accept()"
	>
		Accept
	</button>
</mat-dialog-actions>
