.course {
    font-weight: bold;
}

.mat-card {
    margin: 10px;
    width: 250px;
}

.mat-card-content {
    height: 185px;
}

.mat-chip {
    border-radius: 4px;
    margin-bottom: 8px;
    background-color: #f7efef;
}

h3 {
    padding-top: 8px;
    margin-bottom: 0;
}

.attend a {
    float: right;
}

.event-message {
    padding: 16px;
    margin: 10px 0;
    border-radius: 4px;
    border: solid #e4e4e4 1px;
  }