<mat-card class="mat-elevation-z3">
	<mat-card-content>
		<mat-chip-list>
			<mat-chip>{{ event.time | date: 'short' }}</mat-chip>
			<mat-chip *ngIf="event.isMine" color="accent" selected
				>Mine</mat-chip
			>
		</mat-chip-list>
		<h3>{{ event.courseName }}</h3>
		<div class="item">by {{ event.guruName }}</div>
		<div *ngIf="requester" class="item">
			requested by {{ requester.name }}
		</div>
		<div class="event-message"><q>{{ event.message }}</q></div>
	</mat-card-content>
	<mat-card-actions>
		<button
			*ngIf="eventService.isUpcoming(event) && event.isMine"
			mat-button
			(click)="deleteEvent(event)"
		>
			Cancel Event
		</button>
		<span class="attend" *ngIf="eventService.isUpcoming(event)">
			<a mat-stroked-button [href]="event.link"
				>{{ event.isMine ? "Start Event" : "Join Meeting" }}</a
			>
		</span>
		<button
			*ngIf="!eventService.isUpcoming(event) && !event.isMine"
			mat-stroked-button
			(click)="rateGuru(event)"
			class="right"
		>
			Rate and remove
		</button>
		<button
			*ngIf="!eventService.isUpcoming(event) && event.isMine"
			mat-stroked-button
			(click)="deletePastEvent()"
			class="right"
		>
			Remove
		</button>
	</mat-card-actions>
</mat-card>
