.mat-card-header .mat-card-title {
    font-size: 16px;
}

.request {
    margin-bottom: 15px;

    &:first-of-type {
        margin-top: 7px;
    }
}

.request-message {
    padding: 16px;
    margin: 10px 0;
    border-radius: 4px;
    border: solid #e4e4e4 1px;
}

.mat-dialog-content {
    width: 450px;
}

.mat-dialog-actions {
    justify-content: space-between;
}

.button-wrapper {
    height: 35px;
}

.small-heading {
    letter-spacing: 0.5px;
    font-size: 14px;
    margin: 5px 0;
}

.mat-chip {
    border-radius: 4px;
    background-color: #f7efef;
}