<h2 mat-dialog-title>Outgoing Requests</h2>
<mat-dialog-content>
	<div *ngIf="requests.length > 0" class="content">
		<mat-card
			class="request mat-elevation-z3"
			*ngFor="let request of requests"
		>
			<mat-card-header>
				<mat-card-title>{{ request.course.name }}</mat-card-title>
			</mat-card-header>
			<div>to {{ request.guru.user.name }}</div>
			<div class="request-message"><q>{{ request.message }}</q></div>
			<div class="small-heading">Suggested Timeslots</div>
			<div class="timeslots">
				<mat-chip-list>
					<mat-chip *ngFor="let slot of request.suggestedTimes"
						>{{ slot | date: 'short' }}</mat-chip
					>
				</mat-chip-list>
			</div>
			<div class="small-heading">Link to the meeting</div>
			<div class="request-message">{{ request.link }}</div>
			<div class="button-wrapper">
				<button
					class="right"
					mat-stroked-button
					(click)="selectRequest(request)"
					[color]="isRequestSelected(request) ? 'accent' : ''"
				>
					<mat-icon>close</mat-icon>
				</button>
			</div>
		</mat-card>
	</div>
	<div *ngIf="requests.length === 0" class="content">
		You do not have any outgoing requests.
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-stroked-button class="cancel-button" [mat-dialog-close]>
		{{ requests.length === 0 ? "Ok" : "Cancel" }}
	</button>
	<button
		*ngIf="requestsToDelete.length > 0"
		mat-flat-button
		color="accent"
		class="action-button"
		(click)="delete()"
	>
		Delete selected requests
	</button>
</mat-dialog-actions>
