<div class="container">
	<mat-card>
		<mat-card-header>
			<mat-card-title>Page not found</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			The page you were looking for could not be found.
		</mat-card-content>
		<mat-card-actions>
			<button mat-flat-button color="accent" routerLink="/dashboard">
				Go to Dashboard
			</button>
		</mat-card-actions>
	</mat-card>
</div>
