<form novalidate [formGroup]="loginForm" (ngSubmit)="onSubmit()">
	<mat-card class="card">
		<mat-card-header>
			<mat-card-title>Login</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<p class="error-message" *ngIf="loginFailed">
				The credentials you entered were not correct. Please try again.
			</p>
			<mat-form-field class="full-width">
				<input
					matInput
					placeholder="Email"
					formControlName="email"
					type="email"
					required
				/>
			</mat-form-field>
			<mat-form-field class="full-width">
				<input
					matInput
					formControlName="password"
					type="password"
					placeholder="Password"
					required
				/>
			</mat-form-field>
		</mat-card-content>
		<mat-card-actions>
			<button
				mat-flat-button
				class="right"
				color="primary"
				type="submit"
				[disabled]="loginForm.invalid"
			>
				Submit
			</button>
			<button mat-flat-button [routerLink]="['/register']">
				Don't have an account yet?
			</button>
		</mat-card-actions>
	</mat-card>
</form>
