<app-user-data (submitUserData)="editUserData($event)" [userData]="userData">
	<mat-form-field appearance="fill">
		<mat-label>Message</mat-label>
		<input matInput value="Your profile has been changed" #message />
	</mat-form-field>

	<mat-form-field appearance="fill">
		<mat-label>Action</mat-label>
		<input matInput value="Accept" #action />
	</mat-form-field>

	<!-- <button mat-stroked-button (click)="openSnackBar(message.value, action.value)">Show snack-bar</button> -->
</app-user-data>
