<h2 mat-dialog-title>Accepted Event Requests</h2>
<mat-dialog-content>
	<div *ngIf="acceptedEvents.length > 0" class="content">
		<div *ngFor="let event of acceptedEvents">
			<app-guru-events [event]="event"></app-guru-events>
		</div>
	</div>

	<div *ngIf="acceptedEvents.length === 0" class="content">
		You have not accepted any Guru events yet.
	</div>
</mat-dialog-content>
<mat-dialog-actions>
	<button mat-stroked-button class="cancel-button" [mat-dialog-close]>
		Cancel
	</button>
</mat-dialog-actions>
